* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* text-transform: capitalize; */
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}

:root {
    --dark-bg: #112a34;
    --dark-color: #004047;
    --light-color: #333;
    --transition: all 0.3s ease;
}

body {
    background: var(--dark-bg);
    color: var(--white-color);
    transition: var(--transition);
}


::selection {
    background: var(--dark-color);
    color: var(--white-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

 /* header style start */
 .header {
    background: #112E47;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.main-bar {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #01b1e0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
}

.header-logo span {
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: right;
    display: block;
}

.nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.nav a {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 5px; 
    overflow: hidden;
}

.nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

.nav a:hover::before {
    transform: scaleX(1);
}

.nav-button {
    gap: 5px;
    display: flex;
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    background: #FF9900;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.language-switch svg {
    width: 18px;
    height: 18px;
    transition: stroke 0.3s ease;
}

.language-switch:hover {
    background: #ffffff;
    border: 1px solid #ff9900;
    color: #FF9900;
}

.language-switch:hover svg path {
    stroke: #FF9900;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    position: relative;
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
    position: relative;
}

@media (max-width: 900px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background: #112E47;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
    }

    .header-logo img {
        width: 50px;
        height: 50px;
    }

    .nav.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .language-switch {
        gap: 6px;
        padding: 4.5px 6px;
        border-radius: 6px;
    }

    .language-switch svg {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 480px) {
    .main-bar {
        align-items: center;
    }

    .header-logo img {
        width: 40px;
        height: 40px;
    }

    .nav a,
    .language-switch {
        font-size: 12px;
    }

    .logo h1 {
        font-size: 16px;
    }

    .nav {
        width: 100%;
        text-align: center;
    }
}
 /* header style end */

/* arcta style start */
.arcta-main {
    display: flex;
    width: 100%;
    height: 660px;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url("image/arcta.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 50px 20px 100px;
}

.arcta-main h1 {
    color: var(--main_white, #FFF);
    font-size: 140px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .arcta-main {
        height: 500px;
        padding: 0 40px 15px 80px;
    }
    .arcta-main h1 {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    .arcta-main {
        height: 400px;
        padding: 0 30px 10px 60px;
    }
    .arcta-main h1 {
        font-size: 80px;
    }
}

@media (max-width: 650px) {
    .arcta-main {
        height: 300px;
        padding: 0 20px 5px 40px;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
    }
    .arcta-main h1 {
        font-size: 60px;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .arcta-main {
        height: 250px;
        padding: 0 10px 5px 20px;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
    }
    .arcta-main h1 {
        font-size: 50px;
        padding: 0;
    }
}

/* arcta style end */

/*  Vision style start*/

  .vision-section {
    display: flex;
    width: 100%;
    min-height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.39) 100%), url(image/frame-129890.png) lightgray 50% / cover no-repeat;
  }
  
  .vision-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
}

.vision-title {
    color: var(--main_white, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    position: relative;
    padding-bottom: 10px;
}

.vision-title::after {
    content: '';
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border-bottom: 2px solid #F6D7AB;
}

.vision-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    max-width: 1200px;
    width: 90%;
    margin: 0  auto;
}

.vision-texts h1 {
    color: var(--main_white, #FFF);
    font-size: 32px;
    font-weight: 700;
    width: 50%;
}

.vision-texts p {
    width: 50%;
    color: var(--main_white, #FFF);
    font-size: 20px;
    font-weight: 400;
}
/* Responsive styles */

/* For screens 1024px and below */
@media (max-width: 1200px) {
    /* .vision-texts {
      gap: 30px;
    } */
  
    .vision-texts h1 {
      font-size: 28px;
    }
  
    .vision-texts p {
      font-size: 18px;
    }
  
    .vision-title {
      font-size: 32px;
    }
  
    .vision-title::after {
      left: 15%;
      right: 15%;
    }
  }
  
  /* For screens 768px and below */
  @media (max-width: 1024px) {
    .vision-texts {
        flex-direction: column;
        /* gap: 30px; */
      }

      .vision-texts h1, .vision-texts p {
        width: 100%;
        text-align: center;
      }

    .vision-texts h1 {
      font-size: 24px;
    }
  
    .vision-texts p {
      font-size: 16px;
    }
  
    .vision-title {
      font-size: 28px;
    }
  
    .vision-title::after {
      left: 10%;
      right: 10%;
    }
  }
  
  /* For screens 470px and below */
  @media (max-width: 470px) {
    .vision-section {
      min-height: 350px;
    }
  
    .vision-texts h1 {
      font-size: 20px;
    }
  
    .vision-texts p {
      font-size: 14px;
    }
  
    .vision-title {
      font-size: 24px;
    }
  
    .vision-title::after {
      left: 5%;
      right: 5%;
    }
  }
  
  /* For screens 335px and below */
  @media (max-width: 380px) {
    .vision-section {
      min-height: 300px;
    }
  
    .vision-texts h1 {
      font-size: 24px;
    }
  
    .vision-texts p {
      font-size: 12px;
    }
  
    .vision-title {
      font-size: 20px;
    }
  }
  
/*  Vision style end  */


/* partners style start  */

.partners-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
  }

  .partners-texts {
      display: flex;
      flex-direction: column;
      padding: 0 20%;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }
  .partners-title {
    color: var(--main_white, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

.partners-title::after {
    content: '';
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border-bottom: 2px solid #F6D7AB;
}

  
  .partners-description {
    color: var(--main_white, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  

.partners-logos{
    width: 100%;
    flex-shrink: 0;
    padding: 10px 0;
    align-items: flex-start;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    gap: 20px;

    }

.logo-list {
    gap: 20px;
    display: flex;
    flex-direction: row;
    animation: 15s slide infinite linear;
}
.logo-list img {
  padding: 20px 30px;
}
 @keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* For screens 1024px and below */
@media (max-width: 1024px) {
    .partners-section {
        gap: 30px;
      }

    .partners-texts {
      padding: 0 15%;
    }
  
    .partners-title {
      font-size: 32px;
    }
  
    .partners-title::after {
      left: 15%;
      right: 15%;
    }
  
    .partners-description {
      font-size: 18px;
    }
  
    .logo-list, .partners-logos {
      gap: 15px;
    }
    .logo-list img {
        padding: 20px 30px;
        width: 200px;
        height: auto;
      }
  }
  
  /* For screens 768px and below */
  @media (max-width: 768px) {
    .partners-section {
        gap: 20px;
      }
    .partners-texts {
      padding: 0 10%;
    }
  
    .partners-title {
      font-size: 28px;
    }
  
    .partners-title::after {
      left: 10%;
      right: 10%;
    }
  
    .partners-description {
      font-size: 16px;
    }
  
    .logo-list, .partners-logos {
      gap: 10px;
    }
    .logo-list img {
        padding: 15px 20px;
        width: 160px;
        height: auto;
      }
  }
  
  /* For screens 470px and below */
  @media (max-width: 470px) {
    .partners-section {
      padding: 40px 0;
    }
  
    .partners-texts {
      padding: 0 5%;
    }
  
    .partners-title {
      font-size: 24px;
    }
  
    .partners-title::after {
      left: 5%;
      right: 5%;
    }
  
    .partners-description {
      font-size: 14px;
    }
  
    .logo-list img {
        padding: 10px 15px;
        width: 100px;
        height: auto;
      }

  }
  
  /* For screens 335px and below */
  @media (max-width: 370px) {
    .partners-section {
      padding: 30px 0;
    }
  
    .partners-title {
      font-size: 20px;
    }
  
    .partners-description {
      font-size: 12px;
    }
  
  }

/*  partners style end  */


/* Slider style start  */

@keyframes borderSlide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.container {
  box-sizing: border-box;
  /* max-width: 1240px; */
  width: 100%;
  /* padding: 50px 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}


.background {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Smooth fade effect */
}

.background.active {
  display: flex;
  opacity: 1;
}

.highlight {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.commitment {
  background: #112a34;
  padding: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: 42%;
}

.header-text {
  margin-left: 5%;
  padding: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  color: var(--main_white, #FFF);
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 30%;
  bottom: 0;
  border-bottom: 2px solid #F6D7AB;
}

.arrow-box {
  width: 42%;
  height: 417px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.arrow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 80px;
  height: 100%;
  justify-content: center;
  background: rgba(247, 247, 247, 0.8);
}

.arrow-symbol {
  color: #112a34;
  font-size: 54px;
  font-weight: 400;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 195px;
  background: rgba(0, 0, 0, 0.4);
}

.text-bottom {
  background: #112934;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 50%;
  height: 195px;
  position: relative;
}

.text-bottom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #F6D7AB;
  width: 0;
}

.text-bottom.active::after {
  animation: borderSlide 5s linear forwards; 
}

.highlight-title {
  color: #ffffff;
  text-align: left;
  font-size: 26px;
  line-height: 160%;
  font-weight: 500;
}

.highlight-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  line-height: 24.96px;
  font-weight: 400;
}
.header-text-2 {
  display: none;
}

@media (max-width: 1024px) {
 
  .arrow-box {
    width: 100%;
    height: 417px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .arrow {
    height: 60px;
    width: 100%;
  }
  .text-bottom {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
  }

  .info {
    height: auto;
    justify-content: center;
  }

  .header-text-2 {
    display: flex;

  }
  .highlight{
    display: none;
  }
  .title-2 {
    color: var(--main_white, #FFF);
    text-align: left;
    font-size: 34px;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
  }

  .title-2::after {
    content: '';
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border-bottom: 2px solid #F6D7AB;
  }

  .highlight-text {
    text-align: center;
  }
  .highlight-title {
    text-align: center;
  }
  .title {
    font-size: 28px;
  }

  .title-2 {
    font-size: 28px;
  }

  .highlight-title {
    font-size: 26px;
  }

  .highlight-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .title-2 {
    font-size: 24px;
  }

  .highlight-title {
    font-size: 22px;
  }

  .highlight-text {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .title {
    font-size: 20px;
  }

  .title-2 {
    font-size: 20px;
  }

  .highlight-title {
    font-size: 18px;
  }

  .highlight-text {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 18px;
  }

  .title-2 {
    font-size: 18px;
  }

  .highlight-title {
    font-size: 16px;
  }

  .highlight-text {
    font-size: 14px;
  }
}

/* slider style end */

/* Our servises start */

.services-section {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px ;
}
.services-title {
  padding: 30px 0;
}
.services-title h1 {
  color: var(--main_white, #FFF);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  position: relative;
  padding-bottom: 10px;
}

.services-title h1::after {
  content: '';
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  border-bottom: 2px solid #F6D7AB;
}


.services-content {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.service-item {
  display: flex;
  padding: 20px 31px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 20px;
  background: rgba(0, 0, 0, 0.20);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.70);
}

.service-icon-box {
  display: flex;
  padding: 15px 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}
.service-icon-box svg {
  height: 100%;
  width: auto;
}

.service-details {
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.service-details h1 {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  flex: 1 0 0;
  color: var(--main_white, #FFF);
  font-size: 24px;
  font-weight: 700;
  line-height: 160%; 
  text-align: center;
}

.service-details p {
  display: flex;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--main_white, #FFF);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%; 
  text-align: center;
}

@media (max-width: 1200px) {
  .service-details p {
    padding: 0px 10px;
  }
}
@media (max-width: 1024px) {
  .services-section {
    padding: 40px 60px;
  }
  .services-title {
    padding: 25px 0;
  }
  .services-title h1 {
    font-size: 32px;
  }

  .services-title h1::after {
    left: 15%;
    right: 15%;
  }

  .services-content {
    gap: 60px;
  }

  .service-item {
    padding: 20px 25px;
    gap: 8px;
  }

  .service-icon-box {
    padding: 12px 60px;
  }
  .service-icon-box svg{
      width: 100px;
      height: 100px;
  }
  .service-details h1 {
    font-size: 22px;
  }

  .service-details p {
    padding: 0px 10px;
    font-size: 18px;
  }
}

@media (max-width: 910px) {
  .services-section {
    padding: 30px 40px;
  }
  .services-title {
    padding: 30px 0;
  }
  .services-title h1 {
    font-size: 28px;
  }

  .services-title h1::after {
    left: 10%;
    right: 10%;
  }

  .services-content {
    flex-direction: column;
    gap: 40px;
  }

  .service-item {
    padding: 18px 20px;
    gap: 6px;
  }

  .service-icon-box {
    padding: 10px 50px;
  }

  .service-details h1 {
    font-size: 20px;
  }

  .service-details p {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .services-section {
    padding: 20px 20px;
  }
  .services-title {
    padding: 20px 0;
  }
  .services-title h1 {
    font-size: 24px;
  }

  .services-title h1::after {
    left: 5%;
    right: 5%;
  }

  .services-content {
    gap: 30px;
  }

  .service-item {
    padding: 15px 15px;
    gap: 4px;
  }

  .service-icon-box {
    padding: 8px 40px;
  }

  .service-details h1 {
    font-size: 18px;
  }
  .service-icon-box svg{
    width: 80px;
    height: 80px;
}
  .service-details p {
    font-size: 14px;
  }
}

@media (max-width: 335px) {
  .services-section {
    padding: 15px 15px;
  }
  .services-title {
    padding: 10px 0;
  }
  .services-title h1 {
    font-size: 20px;
  }

  .services-title h1::after {
    left: 2%;
    right: 2%;
  }

  .services-content {
    gap: 20px;
  }

  .service-item {
    padding: 10px 10px;
    gap: 2px;
  }

  .service-icon-box {
    padding: 5px 30px;
  }

  .service-details h1 {
    font-size: 16px;
  }

  .service-details p {
    font-size: 12px;
  }
}

/* Our servises end  */

/* Locations style start */
.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.locations img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .locations {
    overflow: hidden;
  }
  .locations img {
    width: auto; 
    height: 20rem;
  }
}
@media (max-width: 540px) {
  .locations {
    overflow: hidden;
  }
  .locations img {
    width: auto; 
    height: 15rem;
  }
}
/* Locations style start */


/* Our feature start  */
.features-section {
  display: flex;
  max-width: 1360px;
  margin: 0 auto;
  padding: 50px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-content {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 75px;
  flex-shrink: 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.feature-item {
  display: flex;
  padding: 20px 31px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  max-width: 350px;
  min-width: 250px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.20);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.70);
}

.feature-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.feature-icon-box svg {
  width: 120px;
  height: 120px;
}

.feature-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.feature-details h1 {
  color: var(--main_white, #FFF);
  text-align: center;
  /* font-size: 44px; */
  font-size: 36px;
  font-weight: 700;
}

.feature-details p {
  color: var(--main_white, #FFF);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}

@media (max-width: 1220px) {
  .features-section {
    padding: 40px 60px;
  }
  .features-content {
    gap: 60px;
  }
  .feature-item {
    padding: 20px 25px;
    gap: 8px;
  }
  .feature-icon-box {
    padding: 12px 60px;
  }
  .feature-icon-box svg {
    width: 100px;
    height: 100px;
  }
  .feature-details h1 {
    font-size: 22px;
  }
  .feature-details p {
    padding: 0px 10px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .features-section {
    padding: 30px 40px;
  }
  .features-content {
    gap: 40px;
  }
  .feature-item {
    padding: 18px 20px;
    gap: 6px;
  }
  .feature-icon-box {
    padding: 10px 50px;
  }

}
@media (max-width: 910px) {
  .feature-item {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .features-section {
    padding: 30px 40px;
  }
  .features-content {
    gap: 40px;
  }
  .feature-item {
    padding: 18px 20px;
    gap: 6px;
    max-width: 100%;
  }
  .feature-icon-box {
    padding: 10px 50px;
  }

  .feature-details h1 {
    font-size: 20px;
  }
  .feature-details p {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .features-section {
    padding: 20px 20px;
  }
  .features-content {
    gap: 30px;
  }
  .feature-item {
    padding: 15px 15px;
    gap: 4px;
  }
  .feature-icon-box {
    padding: 8px 40px;
  }
  .feature-icon-box svg {
    width: 80px;
    height: 80px;
  }
  .feature-details h1 {
    font-size: 18px;
  }
  .feature-details p {
    font-size: 14px;
  }
}

@media (max-width: 335px) {
  .features-section {
    padding: 15px 15px;
  }
  .features-content {
    gap: 20px;
  }
  .feature-item {
    padding: 10px 10px;
    gap: 2px;
    
  }
  .feature-icon-box {
    padding: 5px 30px;
  }

  .feature-details h1 {
    font-size: 16px;
  }
  .feature-details p {
    font-size: 12px;
  }
}

/* Our features end  */


/* Bottom CTA style start */

.cta-bottom-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 660px;
    padding: 0 15%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), 
                url("image/bottom.jpeg") center center / cover no-repeat;
}

.text-box-cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 50px;
}

.text-box-cta h1 {
    color: var(--main_white, #FFF);
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
}

.text-box-cta p {
    max-width: 80%;
    color: var(--main_white, #FFF);
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 1.2px;
}

.link-box {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.link-box h1 {
    color: var(--main_white, #FFF);
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s ease;
}


.link-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--accent_orange, #F90);
    transition: all 0.5s ease;
}


.link-box a svg {
    position: relative;
    width: 30px;
    height: 30px;
    transition: none;
    transform: none;
    transition: all 0.5s ease;

}

.link-box:hover a {
    transform: scale(1.25);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.link-box:hover a svg{
    transform: scale(0.8);
}


@media (max-width: 1024px) {
    .cta-bottom-main {
        gap: 80px; 
        height: 600px;
    }

    .text-box-cta h1 {
        font-size: 48px;
    }

    .text-box-cta p {
        font-size: 20px;
    }

    .link-box h1 {
        font-size: 20px;
    }

    .link-box a {
        width: 40px;
        height: 40px;
    }

    .link-box a svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .cta-bottom-main {
        gap: 60px; 
        height: 500px;
    }

    .text-box-cta h1 {
        font-size: 36px;
    }

    .text-box-cta p {
        max-width: 100%;
        font-size: 18px;
    }

    .link-box h1 {
        font-size: 18px;
    }

    .link-box a {
        width: 35px;
        height: 35px;
    }

    .link-box a svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .cta-bottom-main {
        gap: 40px; 
        height: 400px;
    }

    .text-box-cta h1 {
        font-size: 28px;
    }

    .text-box-cta p {
        font-size: 16px;
    }

    .link-box h1 {
        font-size: 16px;
    }

    .link-box a {
        width: 30px;
        height: 30px;
    }

    .link-box a svg {
        width: 18px;
        height: 18px;
    }
}
/* Bottom CTA style end */


/* Footer style start */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #112E47;
  padding: 20px 60px;
  max-width: 100%;
  margin: 0 auto;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  border-radius: 50%;
  border: 1px solid #01b1e0;
  width: 70px;
  height: 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.company-info {
  text-align: center;
}

.travel-company {
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  -webkit-text-stroke: 0.2px #000;
}

.megatour {
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #000;
}

.icon-section {
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.icon:hover {
    transform: scale(1.15);
}
.right-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding-top: 40px;
}

.link-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

.topic  {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.page  {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
  padding-bottom:5px ;
}

.page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.page:hover::before {
  transform: scaleX(1);
}



@media (max-width: 1024px) {
  .footer {
      flex-direction: column;
      align-items: center;
      padding: 20px 40px;
  }

  .right-section {
      padding-top: 20px;
      width: 100%;
  }

  .link-column {
      margin: 10px 0;
  }

  .left-section {
      margin-bottom: 20px;
  }
}


@media (max-width: 768px) {
  .footer {
      padding: 15px 30px;
  }

  .right-section {
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
  }

  .link-column {
      align-items: center;
      margin: 10px 0;
  }

  .left-section {
      margin-bottom: 15px;
  }

    
.left-section {
  margin-right: 0px;
}

}

@media (max-width: 480px) {
  .footer {
      padding: 10px 20px;
  }

  .logo {
      width: 60px;
      height: 60px;
  }

  .travel-company {
      font-size: 8px;
  }

  .megatour {
      font-size: 24px;
  }

  .icon {
      width: 30px;
      height: 30px;
  }

  .right-section {
      padding-top: 15px;
  }

  .topic, .page {
      font-size: 14px;
  }
}

@media (max-width: 320px) {
  .footer {
      padding: 10px;
  }

  .logo {
      width: 50px;
      height: 50px;
  }

  .travel-company {
      font-size: 6px;
  }

  .megatour {
      font-size: 20px;
  }

  .icon {
      width: 25px;
      height: 25px;
  }

  .topic, .page {
      font-size: 12px;
  }
}

/* Footer style end  */
