* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  box-sizing: border-box;
  /* transition: all .3s ease; */
  text-decoration: none;
}

:root {
  --dark-bg: #112a34;
  --dark-color: #004047;
  --light-color: #333;
  /* --transition: all 0.3s ease; */
}

body {
  background: var(--dark-bg);
  color: var(--white-color);
  transition: var(--transition);
}


::selection {
  background: var(--dark-color);
  color: var(--white-color);
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 90%;
}

/* header style start */
.header {
  background: #112E47;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.main-bar {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #01b1e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}

.header-logo span {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: right;
  display: block;
}

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.nav a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 5px;
  overflow: hidden;
}

.nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.nav a:hover::before {
  transform: scaleX(1);
}

.nav-button {
  gap: 5px;
  display: flex;
}

.language-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  background: #FF9900;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.language-switch svg {
  width: 18px;
  height: 18px;
  transition: stroke 0.3s ease;
}

.language-switch:hover {
  background: #ffffff;
  border: 1px solid #ff9900;
  color: #FF9900;
}

.language-switch:hover svg path {
  stroke: #FF9900;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
  position: relative;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -8px;
  position: relative;
}

@media (max-width: 900px) {
  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #112E47;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px 0;
  }

  .header-logo img {
    width: 50px;
    height: 50px;
  }

  .nav.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .language-switch {
    gap: 6px;
    padding: 4.5px 6px;
    border-radius: 6px;
  }

  .language-switch svg {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 480px) {
  .main-bar {
    align-items: center;
  }

  .header-logo img {
    width: 40px;
    height: 40px;
  }

  .nav a,
  .language-switch {
    font-size: 12px;
  }

  .logo h1 {
    font-size: 16px;
  }

  .nav {
    width: 100%;
    text-align: center;
  }
}

/* header style end */

/* arcta style start */
.arcta-main {
  display: flex;
  width: 100%;
  height: 660px;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("image/arcta.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 0 50px 20px 100px;
}

.arcta-main h1 {
  color: var(--main_white, #FFF);
  font-size: 140px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .arcta-main {
    height: 500px;
    padding: 0 40px 15px 80px;
  }

  .arcta-main h1 {
    font-size: 100px;
  }
}

@media (max-width: 768px) {
  .arcta-main {
    height: 400px;
    padding: 0 30px 10px 60px;
  }

  .arcta-main h1 {
    font-size: 80px;
  }
}

@media (max-width: 650px) {
  .arcta-main {
    height: 300px;
    padding: 0 20px 5px 40px;
    /* justify-content: center;
        align-items: center;
        text-align: center; */
  }

  .arcta-main h1 {
    font-size: 60px;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .arcta-main {
    height: 250px;
    padding: 0 10px 5px 20px;
  }

  .arcta-main h1 {
    font-size: 50px;
    padding: 0;
  }
}

/* arcta style end */



/* About section */

.about_plan {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #112934 0%, #112934 100%),lightgray 50% / cover no-repeat;
}

.about_plan-inner {
  max-width: 1300px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 30px 0;
}

.about_plan-button {
  display: flex;
  align-items: center;
  text-align: center;
  height: 50px;
  gap: 20px;
  color: #fff ;
}

.about_plan-button a {
  color: #FF9900;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.about_plan-button a span {
  font-size: 39px;
  height: 50px;
  display: flex;
  margin-right: 20px;
}

.about_plan-button p {
  text-transform: none;
}

.about_plan-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--accent_orange, #F90);
  transition: all 0.5s ease;
}

.about_plan-button a svg {
  position: relative;
  width: 30px;
  height: 30px;
  transition: none;
  transform: none;
  transition: all 0.5s ease;

}

.about_plan-button:hover a {
  transform: scale(1.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.about_plan-button:hover a svg {
  transform: scale(0.8);
}

.about_plan-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about_plan-main p {
  color: #fff;
  font-size: 27px;
}

.about_plan-main a {
  color: #FF9900;
  font-size: 27px;
  text-decoration: underline;
}

.about_plan-price {
  display: flex;
  justify-content: space-between;
}

.about_plan-price p:nth-child(1) {
  color: #c6c6c6;
  font-size: 30px;
  text-transform: none;
  width: 50%;  
}

.about_plan-price p:nth-child(2) {
  color: #fff;
  font-size: 35px;
  text-transform: none;
  width: 216px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about_plan-directions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about_plan-directions-l {
  display: flex;
  gap: 20px;
}

.about_plan-directions-l p:nth-child(1) {
  color: #fff;
  font-size: 20px;
}

.about_plan-directions-l p:nth-child(2) {
  color: #c6c6c6;
  font-size: 20px;
}

.about_plan-directions-r {
  display: flex;
  gap: 20px;
}

.about_plan-directions-r p:nth-child(1) {
  color: #fff;
  font-size: 20px;
}

.about_plan-directions-r p:nth-child(2) {
  color: #c6c6c6;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .about_plan-button a  {
        width: 40px;
        height: 40px;
  }
  .about_plan-button a svg{
    width: 20px;
    height: 20px;
}
  .about_plan-inner {
    gap: 30px;
    padding: 0 40px;
  }
  
  .about_plan-main {
    flex-direction: column;
    align-items: center;
  }

  .about_plan-price {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .about_plan-price p:nth-child(1) {
    font-size: 28px;
    width: 100%;  
  }

  .about_plan-button h1 {
    font-size: 18px;
  }

  .about_plan-main p {
    font-size: 24px;
  }

  .about_plan-main a {
    font-size: 24px;
  }

  .about_plan-price p:nth-child(2) {
    font-size: 28px;
  }

  .about_plan-directions-l p:nth-child(1),
  .about_plan-directions-r p:nth-child(1) {
    font-size: 18px;
  }

  .about_plan-directions-l p:nth-child(2),
  .about_plan-directions-r p:nth-child(2) {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about_plan-button a  {
    width: 30px;
    height: 30px;
}
.about_plan-button a svg{
width: 15px;
height: 15px;
}
  .about_plan {
    padding: 10px;
  }

  .about_plan-inner {
    padding: 0 30px;
  }

  .about_plan-button {
    gap: 10px;
  }

  .about_plan-main p,
  .about_plan-price p {
    font-size: 20px;
  }

  .about_plan-directions {
    flex-direction: column;
    align-items: flex-start;
  }

  .about_plan-directions {
    width: 100%;
  }

  .about_plan-main p {
    font-size: 18px;
  }

  .about_plan-main a {
    font-size: 18px;
  }

  .about_plan-price p:nth-child(1) {
    font-size: 20px;
  }

  .about_plan-price p:nth-child(2) {
    font-size: 24px;
  }
  .about_plan-directions {
    flex-direction: row;
    justify-content: center;
  }
  .about_plan-directions-l ,
  .about_plan-directions-r {
    width: 48%;
    flex-direction: column;
    gap: 10px;
  }

  .about_plan-directions-l p:nth-child(1),
  .about_plan-directions-r p:nth-child(1) {
    font-size: 16px;
  }

  .about_plan-directions-l p:nth-child(2),
  .about_plan-directions-r p:nth-child(2) {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  
  .about_plan-button a  {
    width: 25px;
    height: 25px;
  }
  .about_plan-button a svg{
  width: 13px;
  height: 13px;
  }
  .about_plan-inner {
    padding: 0 20px;
  }

  .about_plan-main p,
  .about_plan-price p {
    font-size: 18px;
  }

  .about_plan-button h1 {
    font-size: 16px;
  }

  .about_plan-main p {
    font-size: 16px;
  }

  .about_plan-main a {
    font-size: 16px;
  }

  .about_plan-price p:nth-child(1) {
    font-size: 18px;
  }

  .about_plan-price p:nth-child(2) {
    font-size: 20px;
  }

  .about_plan-directions-l p:nth-child(1),
  .about_plan-directions-r p:nth-child(1) {
    font-size: 14px;
  }

  .about_plan-directions-l p:nth-child(2),
  .about_plan-directions-r p:nth-child(2) {
    font-size: 14px;
  }
}


/* End of About section */


/* about_plan-slider */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 5%;
  gap: 5%;
  
  /* background: rgba(17, 41, 52, 0.94); */
}

.slides {
  max-width: 800px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 60vh;
  padding: 10px;
}

.slide {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: 1s;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 6px 1px #000;

}

.slide img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.prev,
.next {
  color: #ff9900;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  /* right: -250px; */
  background: none;
  border: none;
}

.prev {
  /* left: -250px; */
  background: none;
  border: none;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  overflow-x: auto; /* Enable horizontal scroll */
  scroll-snap-type: x mandatory; /* Snap behavior */
  margin: 5% 0 0;
  padding: 2%;
  background: linear-gradient(0deg, #112934 0%, #112934 100%), lightgray 50% / cover no-repeat;
}

.thumbnails img {
  width: 18.5%;
  height: auto;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
  object-fit: cover;
  scroll-snap-align: start; /* Snap each thumbnail to start */
}

.thumbnails img:hover {
  opacity: 0.7;
}

.active-thumbnail {
  border: 5px solid #ff9900;
}
@media (max-width: 1024px) {
  .prev,
  .next {
    font-size: 50px;
  }
  .slides {
    height: 60vh;
  }
}

@media (max-width: 900px) {
  .slides {
    height: 50vh;
  }
  
  .prev,
  .next {
    position: absolute;
    z-index: 999;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.60);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.70);
    padding: 10px 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  .next {
    right: 10%;
  }

  .prev {
    left: 10%;
  }
  .slide img {
    height: 100%;
  }
  .slide {
    height: 100%;
    scroll-snap-align: start; /* Snap each slide to start */

  }
  .slides {
    height: 100%;
    overflow-x: auto; /* Enable horizontal scroll */
    scroll-snap-type: x mandatory; /* Snap behavior */
  }


  .thumbnails img {
    width: 200px;
  }

    .thumbnails {
      gap: 20px;
    
    }
  }


  @media (max-width: 600px) {   
    .prev,
    .next {
      font-size: 20px;
      padding: 8px 15px;
    }
  
    .thumbnails img {
      width: 150px;
    }
  
      .thumbnails {
        gap: 20px;
      }
    }

/* End ofabout_plan-slider */



/* Bottom CTA style start */

.cta-bottom-main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 660px;
  padding: 0 15%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
    url("image/bottom.jpeg") center center / cover no-repeat;
}

.text-box-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 50px;
}

.text-box-cta h1 {
  color: var(--main_white, #FFF);
  font-size: 64px;
  font-weight: 700;
  line-height: 160%;
}

.text-box-cta p {
  max-width: 80%;
  color: var(--main_white, #FFF);
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.2px;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.link-box h1 {
  color: var(--main_white, #FFF);
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
}


.link-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--accent_orange, #F90);
  transition: all 0.5s ease;
}


.link-box a svg {
  position: relative;
  width: 30px;
  height: 30px;
  transition: none;
  transform: none;
  transition: all 0.5s ease;

}

.link-box:hover a {
  transform: scale(1.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.link-box:hover a svg {
  transform: scale(0.8);
}


@media (max-width: 1024px) {
  .cta-bottom-main {
    gap: 80px;
    height: 600px;
  }

  .text-box-cta h1 {
    font-size: 48px;
  }

  .text-box-cta p {
    font-size: 20px;
  }

  .link-box h1 {
    font-size: 20px;
  }

  .link-box a {
    width: 40px;
    height: 40px;
  }

  .link-box a svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  .cta-bottom-main {
    gap: 60px;
    height: 500px;
  }

  .text-box-cta h1 {
    font-size: 36px;
  }

  .text-box-cta p {
    max-width: 100%;
    font-size: 18px;
  }

  .link-box h1 {
    font-size: 18px;
  }

  .link-box a {
    width: 35px;
    height: 35px;
  }

  .link-box a svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .cta-bottom-main {
    gap: 40px;
    height: 400px;
  }

  .text-box-cta h1 {
    font-size: 28px;
  }

  .text-box-cta p {
    font-size: 16px;
  }

  .link-box h1 {
    font-size: 16px;
  }

  .link-box a {
    width: 30px;
    height: 30px;
  }

  .link-box a svg {
    width: 18px;
    height: 18px;
  }
}

/* Bottom CTA style end */


/* Footer style start */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #112E47;
  padding: 20px 60px;
  max-width: 100%;
  margin: 0 auto;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  border-radius: 50%;
  border: 1px solid #01b1e0;
  width: 70px;
  height: 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.company-info {
  text-align: center;
}

.travel-company {
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  -webkit-text-stroke: 0.2px #000;
}

.megatour {
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #000;
}

.icon-section {
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.15);
}

.right-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding-top: 40px;
}

.link-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

.topic {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.page {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.page:hover::before {
  transform: scaleX(1);
}



@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
  }

  .right-section {
    padding-top: 20px;
    width: 100%;
  }

  .link-column {
    margin: 10px 0;
  }

  .left-section {
    margin-bottom: 20px;
  }
}


@media (max-width: 768px) {
  .footer {
    padding: 15px 30px;
  }

  .right-section {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .link-column {
    align-items: center;
    margin: 10px 0;
  }

  .left-section {
    margin-bottom: 15px;
  }


  .left-section {
    margin-right: 0px;
  }

}

@media (max-width: 480px) {
  .footer {
    padding: 10px 20px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .travel-company {
    font-size: 8px;
  }

  .megatour {
    font-size: 24px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .right-section {
    padding-top: 15px;
  }

  .topic,
  .page {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .travel-company {
    font-size: 6px;
  }

  .megatour {
    font-size: 20px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .topic,
  .page {
    font-size: 12px;
  }
}

/* Footer style end  */