* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}

:root {
    --dark-bg: #112a34;
    --dark-color: #004047;
    --light-color: #333;
    --transition: all 0.3s ease;
}

body {
    background: var(--dark-bg);
    color: var(--white-color);
    transition: var(--transition);
}


::selection {
    background: var(--dark-color);
    color: var(--white-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}
 /* header style start */
 .header {
    background: #112E47;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  
  .main-bar {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #01b1e0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .header-logo h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
  }
  
  .header-logo span {
      color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: right;
    display: block;
  }
  
  .nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center; 
  }
  
  .nav a {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-button {
      gap: 5px;
      display: flex;
  }
  
  .language-switch {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    background: #FF9900;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
  }
  .language-switch img {
    width: 18px;
    height: 18px;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
    transition: 0.3s;
  }
  
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    position: relative;
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
    position: relative;
  }
  
  @media (max-width: 900px) {
    .nav {
      margin-top: 30px;
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      background: #112E47;
      width: 100%;
      position: absolute;
      top: 70px; 
      left: 0;
      padding: 20px 0;
    }
    .header-logo img {
        width: 50px;
        height: 50px; 
      }
    .nav.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }

  .language-switch {
    gap: 6px;
    padding: 4.5px 6px;
    border-radius: 6px;
  }

  .language-switch img {
    width: 14px;
    height: 14px;
  }
}
  @media (max-width: 480px) {
    .main-bar {
      align-items: center;
    }
    .header-logo img {
        width: 40px;
        height: 40px; 
      }
    .nav a, .language-switch {
      font-size: 12px;
    }
  
    .logo h1 {
      font-size: 16px;
    }
  
    .nav {
      width: 100%;
      text-align: center;
    }
  }
 /* header style end */

/* arcta style start */
.arcta-main {
    display: flex;
    width: 100%;
    height: 660px;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url("image/arcta.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 50px 20px 100px;
}

.arcta-main h1 {
    color: var(--main_white, #FFF);
    font-size: 140px;
    font-weight: 400;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .arcta-main {
        height: 500px;
        padding: 0 40px 15px 80px;
    }
    .arcta-main h1 {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    .arcta-main {
        height: 400px;
        padding: 0 30px 10px 60px;
    }
    .arcta-main h1 {
        font-size: 80px;
    }
}

@media (max-width: 650px) {
    .arcta-main {
        height: 300px;
        padding: 0 20px 5px 40px;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
    }
    .arcta-main h1 {
        font-size: 60px;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .arcta-main {
        height: 250px;
        padding: 0 10px 5px 20px;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
    }
    .arcta-main h1 {
        font-size: 50px;
        padding: 0;
    }
}

/* arcta style end */


.contact-main{
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    padding: 50px 50px;
    justify-content:space-around;
    align-items: center;
    gap: 20px;

}
     
/* Left side style starts */

.left-side {
    display: flex;
    max-width: 590px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.top-text-box {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
    flex-shrink: 0;
    background: #FFF;
    padding: 40px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.top-text-box h1 {
    margin: 0%;
    padding: 0 40px;
    font-size: 54px;
    font-weight: 700;
}

.top-text-box p {
    margin: 0%;
    padding: 0 40px;
    font-size: 22.5px;
    font-weight: 500;
}

.check-list-box {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.items-box {
    padding: 0 40px;
    display: flex;
    gap: 20px;
}

.items-box p {
    margin: 0%;
    font-size: 18px;
    font-weight: 500;
}
.items-box span {
    display: flex;
    align-items: center;
    text-align: center;
}

/* contact form starts */

    .form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0 0 0 ;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    
    .contact-form {
        width: 100%;
        height: 650px;
        border: none;
    }
    @media (max-width: 410px) {
        .contact-form {
            width: 100%;
            height: 670px;
            border: none;
        }
    
}
/* contact form starts */




/* left side end  */



/* slider style start */
.top-page {
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    width: 50%;
    align-items: center;
    align-self: stretch;
}

.slider-container {
    position: relative;
    width: 100%;   
    overflow: hidden;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 11px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

   
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;

}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visible {
    opacity: 1;
}

@media (max-width: 950px) {
    .contact-main{
        flex-direction: column;
    }

    .top-page {
        max-width: 100%;
        width: 100%;
        height: 50vh;
    }

    .left-side {
        max-width: 100%;
        width: 100%;
        
    }
    .top-text-box {
        width: 100%; 
    }
    .check-list-box {
        width: 100%;
    }
    .slider-container {
        border-radius: 5px;
    }
}

@media (max-width: 1024px) {
    .contact-main {
        padding: 40px 30px;
        gap: 15px;
    }

    .left-side {
        gap: 15px;
    }

    .top-text-box {
        padding: 30px 0;
        gap: 25px;
    }

    .top-text-box h1 {
        font-size: 48px;
        padding: 0 30px;
    }

    .top-text-box p {
        font-size: 20px;
        padding: 0 30px;
    }

    .check-list-box {
        padding: 30px 0;
        gap: 15px;
    }

    .items-box {
        padding: 0 30px;
        gap: 15px;
    }

    .items-box p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .contact-main {
        flex-direction: column;
        padding: 30px 20px;
        gap: 10px;
    }

    .left-side {
        width: 100%;
        gap: 10px;
    }

    .top-text-box {
        padding: 20px 0;
        gap: 20px;
    }

    .top-text-box h1 {
        font-size: 42px;
        padding: 0 20px;
    }

    .top-text-box p {
        font-size: 18px;
        padding: 0 20px;
    }

    .check-list-box {
        padding: 20px 0;
        gap: 10px;
    }

    .items-box {
        padding: 0 20px;
        gap: 10px;
    }

    .items-box p {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .contact-main {
        padding: 20px 15px;
        gap: 5px;
    }

    .left-side {
        gap: 5px;
    }

    .top-text-box {
        padding: 15px 0;
        gap: 15px;
    }

    .top-text-box h1 {
        font-size: 36px;
        padding: 0 15px;
    }

    .top-text-box p {
        font-size: 16px;
        padding: 0 15px;
    }

    .check-list-box {
        padding: 15px 0;
        gap: 5px;
    }

    .items-box {
        padding: 0 15px;
        gap: 5px;
    }

    .items-box p {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .contact-main {
        padding: 15px 10px;
        gap: 5px;
    }

    .left-side {
        gap: 5px;
    }

    .top-text-box {
        padding: 10px 0;
        gap: 10px;
    }

    .top-text-box h1 {
        font-size: 30px;
        padding: 0 10px;
    }

    .top-text-box p {
        font-size: 14px;
        padding: 0 10px;
    }

    .check-list-box {
        padding: 10px 0;
        gap: 5px;
    }

    .items-box {
        padding: 0 10px;
        gap: 5px;
    }

    .items-box p {
        font-size: 12px;
    }
}


/* slider style start */

/* Bottom CTA style start */

.cta-bottom-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 660px;
    padding: 0 15%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), 
                url("image/bottom.jpeg") center center / cover no-repeat;
}

.text-box-cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 50px;
}

.text-box-cta h1 {
    color: var(--main_white, #FFF);
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
}

.text-box-cta p {
    max-width: 80%;
    color: var(--main_white, #FFF);
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 1.2px;
}
.link-box {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.link-box h1 {
    color: var(--main_white, #FFF);
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.link-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--accent_orange, #F90);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.link-box a svg {
    width: 30px;
    height: 30px;
}

.link-box a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--accent_orange_hover, #FFA500);
}



/* Responsive adjustments */
@media (max-width: 1024px) {
    .cta-bottom-main {
        gap: 80px; 
        height: 600px;
    }

    .text-box-cta h1 {
        font-size: 48px;
    }

    .text-box-cta p {
        font-size: 20px;
    }

    .link-box h1 {
        font-size: 20px;
    }

    .link-box a {
        width: 40px;
        height: 40px;
    }

    .link-box a svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .cta-bottom-main {
        gap: 60px; 
        height: 500px;
    }

    .text-box-cta h1 {
        font-size: 36px;
    }

    .text-box-cta p {
        max-width: 100%;
        font-size: 18px;
    }

    .link-box h1 {
        font-size: 18px;
    }

    .link-box a {
        width: 35px;
        height: 35px;
    }

    .link-box a svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .cta-bottom-main {
        gap: 40px; 
        height: 400px;
    }

    .text-box-cta h1 {
        font-size: 28px;
    }

    .text-box-cta p {
        font-size: 16px;
    }

    .link-box h1 {
        font-size: 16px;
    }

    .link-box a {
        width: 30px;
        height: 30px;
    }

    .link-box a svg {
        width: 18px;
        height: 18px;
    }
}
/* Bottom CTA style end */

/* Footer style start */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #112E47;
    padding: 20px 60px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    border-radius: 50%;
    border: 1px solid #01b1e0;
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }
  
  .company-info {
    text-align: center;
  }
  
  .travel-company {
    font-family: "Inter-Medium", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    -webkit-text-stroke: 0.2px #000;
  }
  
  .megatour {
    font-family: "Inter-Medium", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    -webkit-text-stroke: 0.5px #000;
  }
  
  .icon-section {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .right-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding-top: 40px;
  }
  
  .link-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
  }
  
  .topic, .page {
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  @media (max-width: 1024px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
    }

    .right-section {
        padding-top: 20px;
        width: 100%;
    }

    .link-column {
        margin: 10px 0;
    }

    .left-section {
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .footer {
        padding: 15px 30px;
    }

    .right-section {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .link-column {
        align-items: center;
        margin: 10px 0;
    }

    .left-section {
        margin-bottom: 15px;
    }

      
  .left-section {
    margin-right: 0px;
  }

}

@media (max-width: 480px) {
    .footer {
        padding: 10px 20px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .travel-company {
        font-size: 8px;
    }

    .megatour {
        font-size: 24px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .right-section {
        padding-top: 15px;
    }

    .topic, .page {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .travel-company {
        font-size: 6px;
    }

    .megatour {
        font-size: 20px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .topic, .page {
        font-size: 12px;
    }
}
  
/* Footer style end  */
